/**
 * @name Owshie-Custom-Discord-Theme-HatsuneMiku
 * @author Gibbu#1211
 * @version 1.0.0
 * @description A soft and comfy feel for Discord.
 * @invite ZHthyCw
 * @authorId 174868361040232448
 * @source https://github.com/DiscordStyles/SoftX
 * @BDEditor SoftX
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/SoftX/SoftX.css');
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/yHOrvKz.png'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-blur: 0px; /* Blur intensity of --background-image */
  --opacity: 0.28; /* Opacity of overall app. | Default: .85 */
  --accent: 255,208,254; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 0; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: Ubuntu; /* Custom font | Default: 'Inter' */
  --channels-width: 250px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 75px; /* Width of the server list. | Default: 105px */
  --members-width: 228px; /* Width of the members list. | Default: 280px */
  --server-size: 40px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 40px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 1px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 1px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 1px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 1.5px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 1px;
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-phone-color: #5572FF; /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
}

/* Any custom CSS below here */


